.banner {
  background-image: url('../../../images/banner-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  padding:0px 100px;
text-align: center;
  
}
